<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DEFAULT" connectionString="Server=.;Database=client;Integrated Security=true"/>
	</connectionStrings>
	<appSettings>
		<add key="WriteLogFiles" value="true" />
	</appSettings>
	<system.net>
		<settings>
			<servicePointManager expect100Continue="false" />
		</settings>
	</system.net>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="">
					<dataContractSerializer maxItemsInObjectGraph="1048576"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="CustomBinding_IReplicationService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
					<binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</binaryMessageEncoding>
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="1048576" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="1048576" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:49254/Replication.svc" binding="customBinding"
        bindingConfiguration="CustomBinding_IReplicationService" contract="ReplicationService.IReplicationService"
        name="CustomBinding_IReplicationService" />
		</client>
	</system.serviceModel>
</configuration>